*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
    height:800px;
}

.heading{
    align-self: center;
}

.calcbody{
    align-self: center;
    height: 700px;
    width: 800px
}

.display{
    font-size: 35px;
    display: flex;
    justify-content: end;
    border: 1px solid black;
    border-bottom: 0px;
    height:100px;
    width: 800px;
}

.calcbuttons{
    display: flex;
    height:600px;
    width: 800px;
}

.left{
    display: flex;
    flex-wrap: wrap;
    height:600px;
    width:600px;
}

.right{
    display: flex;
    flex-direction: column;
    height:600px;
    width: 200px;
}

.lbutton{
    height:150px ;
    width: 200px;
}

.rbutton{
    height:120px;
    width: 200px;
}

